<body>
<h2 class = 'hotline'>
  Customer Service Message Hotline
</h2>
<p class = 'hotline'>
  Hello table 2! Please enter your message to the kitchen below!
</p>




<h2>Chat Messages</h2>

<div *ngFor = "let x of messagesObservable|async">

<div class="container">
  <img src="../../../assets/images/sexychef.png" alt="Avatar" style="width:100%;">
  <p>{{x}}</p>
  <span class="time-right">11:00</span>
</div>
</div>

<!--
<div class="container">
  <img src="../../../assets/images/sexychef.png" alt="Avatar" style="width:100%;">
  <p>Hello. How are you today?</p>
  <span class="time-right">11:00</span>
</div>

<div class="container darker">
  <img src="../../../assets/images/customereating.jpg" alt="Avatar" class="right" style="width:100%;">
  <p>Hey! I'm fine. Thanks for asking!</p>
  <span class="time-left">11:01</span>
</div>

<div class="container">
  <img src="../../../assets/images/sexychef.png" alt="Avatar" style="width:100%;">
  <p>Sweet! So, what do you wanna do today?</p>
  <span class="time-right">11:02</span>
</div>

<div class="container darker">
  <img src="../../../assets/images/customereating.jpg" alt="Avatar" class="right" style="width:100%;">
  <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
  <span class="time-left">11:05</span>
</div>

-->
<h3 class = 'hotline'>
<input  mat-input name = "message" [(ngModel)]="message" placeholder="Enter Message:"/>
<button mat-raised-button color='primary' (click)="leaveMessage(message)"> Send Message</button>
</h3>


</body>
