<html>
	<body class= "bg-dark">
  <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4">
       	
       	<table class="table table-striped table-bordered table-hover table-condensed bg-light">
        <tr>
          <th>Table</th>
          <th>Status</th>
        </tr>
        <tr>
          <td>43</td>
          <td>Seated-Eating</td>
        </tr>
        <tr>
          <td>35</td>
          <td>Seated-Waiting</td>
        </tr>
        <tr>
          <td>28</td>
          <td>Seated-Done</td>
        </tr>
        <tr>
          <td>16</td>
          <td>Vacant-Dirty</td>
        </tr>
        <tr>
          <td>14</td>
          <td>Vacant-Ready</td>
        </tr>
      </table>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8">
        </div>
      </div>
  </div>
  <div class = container>
        <button id="alert"(click)="toggAlert()" class="btn btn-primary" type="button">
        Alerts <span class="badge">4</span>
      </button>
      <button class= "btn btn-primary" type ="button">View Menu</button>
      <button class= "btn btn-primary" type ="button">View Schedule</button>
  </div>
  <div class = container>
  <ul class = "list-group" *ngIf=isAlert>
    <li class = "list-group-item">Table 44's food is ready</li>
    <li class = "list-group-item">Table 45 needs to be cleared</li>
  </ul>
  </div>

	</body>
</html>
