<html>
	<body class= "bg-dark">
	<button (click)= "logout()" class= "btn-lg btn-primary">Logout</button>
  <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4">

       	<table class="table table-striped table-bordered table-hover table-condensed bg-light">
        <tr>
          <th>Table</th>
          <th>Status</th>
        </tr>
        <tr>
          <td>43</td>
          <td>Seated-Eating</td>
        </tr>
        <tr>
          <td>35</td>
          <td>Seated-Waiting</td>
        </tr>
        <tr>
          <td>28</td>
          <td>Seated-Done</td>
        </tr>
        <tr>
          <td>16</td>
          <td>Vacant-Dirty</td>
        </tr>
        <tr>
          <td>14</td>
          <td>Vacant-Ready</td>
        </tr>
      </table>
			<button id="alert"(click)="toggAlert()" class="btn btn-primary" type="button">
				Alerts <span class="badge"></span>
			</button>
			<button (click)="goMenu()" class= "btn btn-primary" type ="button">View Menu</button>
			<button class= "btn btn-primary" type ="button">View Schedule</button>
			<ul class = "list-unstyled" style="background-color:white" *ngIf=isAlert >
				<li class = "alerts" *ngFor="let alert of alerts">{{alert}}</li>
			</ul>

				</div>

        <div class="col-md-8 col-sm-8 col-xs-8">
        </div>
      </div>
  </div>

	</body>
</html>

