<html>
	<body class= "bg-dark">
	<button (click)= "logout()" class= "btn-lg btn-primary">Logout</button>
  <div class="container">
      <div class="row">
      <table class="table table-striped table-bordered table-hover table-condensed bg-light">
        <tr>
          <th>Status</th>
          <th>Time</th>
					<th>Action</th>
        </tr>
				<tr *ngFor="let Table of tabObservable | async">
					<td>{{Table.status}}</td>
					<td><small>{{Table.time}}</small></td>
					<td>
						<button id="Delivered" (click)="foDel(Table.table, Table.key, Table.status)" class="btn-sm btn-primary" type="button">Food Delivered</button>
						<button id="Vacant" (click)="tabLef(Table.table, Table.key, Table.status)" class="btn-sm btn-primary" type="button">Table Left</button>
						<button id="Ready" (click)="tabClean(Table.table, Table.key, Table.status)" class="btn-sm btn-primary" type="button">Table Clean</button>
					</td>
				</tr>
      </table>
			<button id="alert"(click)="toggAlert()" class="btn-sm btn-primary" type="button">
				Alerts <span class="badge"></span>
			</button>
			<button (click)="goMenu()" class= "btn-sm btn-primary" type ="button">View Menu</button>
		<!--	<button class= "btn-sm btn-primary" type ="button">View Schedule</button> -->
			<div class="container" style="postion:relative; margin-top: 0%;" *ngIf=isAlert>
				<ul class = "list-unstyled" style="background-color:white">
					<li class = "alerts" *ngFor="let Alerts of salObservable | async"> {{Alerts.message}} <button class = "btn-sm btn-default" (click)="removeSal(Alerts.key)" type ="button">X</button><small> | Time: {{Alerts.timestamp}}</small></li>
				</ul>
      </div>

    </div>
  </div>

	</body>
</html>
