<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
<mat-card  class="col-lg-6 col-centered">


    <mat-table #table [dataSource]="dataSource">

      <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Quantity">
        <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
        <mat-cell *matCellDef="let element">

            <mat-form-field class="example-full-width">
                <input matInput #updatetext [value]="element.Quantity" [(ngModel)]="element.Quantity">
            </mat-form-field>

            <button class="btn" (click)="edit(element,updatetext.value)" color="primary"> <i class="fa fa-edit"></i></button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Unit">
        <mat-header-cell *matHeaderCellDef> Unit</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Unit}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="PricePer">
        <mat-header-cell *matHeaderCellDef> Price per Unit</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.PricePer}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-raised-button (click)="delete(element)" color="primary">delete</button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">

        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

</mat-card>
<div class="col-sm-6 col-centered">
</div>
  <mat-card class="col-sm-6 col-centered">
    <h3>Add to database</h3>
      <mat-form-field><div class="home">
        <input matInput placeholder="Name" [(ngModel)]="InvDetails.Name">
      </div>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Quantity" [(ngModel)]="InvDetails.Quantity">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Unit" [(ngModel)]="InvDetails.Unit">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Price Per Unit" [(ngModel)]="InvDetails.PricePer">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="minimum" [(ngModel)]="InvDetails.min">
      </mat-form-field>

      <button mat-raised-button (click)="addInv()" color="primary">Add</button>

</mat-card>
</body>

</html>
