<html>
<head></head>
<body class="bg-dark"> 
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Tech Chefs</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home Screen <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Seach by Category
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Breads</a>
          <a class="dropdown-item" href="#">Dairy</a>
          <a class="dropdown-item" href="#">Desserts</a>
          <a class="dropdown-item" href="#">Fruits</a>
		  <a class="dropdown-item" href="#">Meats</a>
          <a class="dropdown-item" href="#">Spices</a>
          <a class="dropdown-item" href="#">Veggies</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">A</a>
          <a class="dropdown-item" href="#">B</a>
          <a class="dropdown-item" href="#">C</a>
          <a class="dropdown-item" href="#">D</a>
          <a class="dropdown-item" href="#">E</a>
          <a class="dropdown-item" href="#">F</a>
          <a class="dropdown-item" href="#">G</a>
          <a class="dropdown-item" href="#">H</a>
          <a class="dropdown-item" href="#">I</a>
          <a class="dropdown-item" href="#">J</a>
          <a class="dropdown-item" href="#">K</a>
          <a class="dropdown-item" href="#">L</a>
          <a class="dropdown-item" href="#">M</a>
          <a class="dropdown-item" href="#">N</a>
          <a class="dropdown-item" href="#">O</a>
          <a class="dropdown-item" href="#">P</a>
          <a class="dropdown-item" href="#">Q</a>
          <a class="dropdown-item" href="#">R</a>
          <a class="dropdown-item" href="#">S</a>
          <a class="dropdown-item" href="#">T</a>
          <a class="dropdown-item" href="#">U</a>
          <a class="dropdown-item" href="#">V</a>
          <a class="dropdown-item" href="#">W</a>
          <a class="dropdown-item" href="#">X</a>
          <a class="dropdown-item" href="#">Y</a>
          <a class="dropdown-item" href="#">Z</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Enter Name of Item" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search Inventory</button>
    </form>
  </div>
</nav>
<!--<img src="/assets/images/logo.png" alt="Logo" class="img-thumbnail">-->
	<div class="container">
      <h1 class = "page-header text-white">Inventory Manager</h1>
      <table class="table table-striped table-bordered table-hover table-condensed">
        <tr class="text-white">
          <th>Item</th>
          <th>Quantity (lbs)</th>
        </tr>
        <tr class= "text-white">
          <td>Beets</td>
          <td>29</td>
        </tr>
        <tr class= "text-white">
          <td>Black Beans</td>
          <td>32</td>
        </tr>
        <tr class= "text-white">
          <td>Heavy Cream</td>
          <td>23</td>
        </tr>
        <tr class= "text-white">
          <td>Cilantro</td>
          <td>10</td>
        </tr>
        <tr class= "text-white">
          <td>Carrots</td>
          <td>22</td>
        </tr>
        <tr class= "text-white">
          <td>Grapes</td>
          <td>13</td>
        </tr>
        <tr class= "text-white">
          <td>Green Beans</td>
          <td>32</td>
        </tr>
        <tr class= "text-white">
          <td>Peas</td>
          <td>21</td>
        </tr>       
        <tr class= "text-white">
          <td>Ground Beef</td>
          <td>44</td>
        </tr>
        <tr class= "text-white">
          <td>Marmalade</td>
          <td>22</td>
        </tr>
        <tr class= "text-white">
          <td>Lamb Shanks</td>
          <td>22</td>
        </tr>
        <tr class= "text-white">
          <td>Duck</td>
          <td>36</td>
        </tr>
        <tr class= "text-white">
          <td>Chicken Breast</td>
          <td>32</td>
        </tr>
        <tr class= "text-white">
          <td>Cabbage</td>
          <td>44</td>
        </tr>
        <tr class= "text-white">
          <td>Filet</td>
          <td>20</td>
        </tr>
        <tr class= "text-white">
          <td>Flounder</td>
          <td>23</td>
        </tr>
      </table>
    </div>
    <hr>
</body>
</html>