.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}
.example-container {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  max-width: 500px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}
/* Style buttons */
.btn {
    background-color: white; /* Blue background */
    border: none; /* Remove borders */
    color: black; /* White text */
    padding: 10px 10px; /* Some padding */
      font-size: 15px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */

}


.example-full-width {
  width: 20%;
}
.ex-form{
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;

}
.col-centered{
    float: none;
    margin: 10px auto;

}
