<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="row">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand">Tech Chefs</a>&emsp;&emsp;&emsp;
           <a class="color_animation" style="padding-left: 200em"  routerLinkActive="active"></a>&emsp;&emsp;&emsp;
      <!--    <a class="color_animation indent" href="#story">ABOUT</a>&emsp;&emsp;&emsp;

          <a class="color_animation indent" routerLink="/dashboard/entrees" routerLinkActive="active">MENU&ORDER</a>&emsp;&emsp;&emsp;

          <a class="color_animation indent" href="#reservation">RESERVATION</a>&emsp;&emsp;&emsp;

          <a class="color_animation indent" href="#contact">CONTACT</a>&emsp;&emsp;&emsp;
          <a class="color_animation indent" routerLink="/dashboard/place-order" routerLinkActive="active">
            <i class="material-icons">shopping_cart</i>CART</a> -->
              <!-- <a class="color_animation indent" (click)="openDialog()">
              <i class="material-icons">shopping_cart</i>CART</a> -->
        </div>
      </div>
    </div>
  </nav>
  <div class="page">
<mat-card  class="col-lg-6 col-centered">


    <mat-table #table [dataSource]="dataSource">

      <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Quantity">
        <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
        <mat-cell *matCellDef="let element">

            <mat-form-field class="example-full-width">
                <input matInput #updatetext [value]="element.Quantity" [(ngModel)]="element.Quantity">
            </mat-form-field>

            <button class="btn" (click)="edit(element,updatetext.value)" color="primary"> <i class="fa fa-edit"></i></button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Unit">
        <mat-header-cell *matHeaderCellDef> Unit</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Unit}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="PricePer">
        <mat-header-cell *matHeaderCellDef> Price per Unit</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.PricePer}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-raised-button (click)="delete(element)" color="primary">delete</button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">

        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

</mat-card>
<div class="col-sm-6 col-centered">
</div>
  <mat-card class="col-sm-6 col-centered">
    <h3>Add to database</h3>
      <mat-form-field><div class="home">
        <input matInput placeholder="Name" [(ngModel)]="InvDetails.Name">
      </div>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Quantity" [(ngModel)]="InvDetails.Quantity">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Unit" [(ngModel)]="InvDetails.Unit">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Price Per Unit" [(ngModel)]="InvDetails.PricePer">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="minimum" [(ngModel)]="InvDetails.min">
      </mat-form-field>

      <button mat-raised-button (click)="addInv()" color="primary">Add</button>

</mat-card>

<!-- ============ Footer Section  ============= -->
</div>
<footer class="sub_footer">
  <div class="container">
    <div class="col-md-4">
      <p class="sub-footer-text text-center">&copy; Restaurant 2018, Theme by TechChefs</p>
    </div>
    <div class="col-md-4">
      <p class="sub-footer-text text-center">Back to
        <a href="#top">TOP</a>
      </p>
    </div>
    <div class="col-md-4">
      <p class="sub-footer-text text-center">Built With Care By
        <a href="#" target="_blank">Us</a>
      </p>
    </div>
  </div>
</footer>
</body>
