
	<div class="menu-body">
	
		<!-- Section starts: Appetizers -->
		<div class="menu-section">

			<h2 class="menu-section-title">MAIN COURSE</h2>
		
			<!-- Item starts -->
			<div class="menu-item">
				<div class="menu-item-name">
					Delicious Dish
				</div>
				
				<div class="menu-item-price">
					$50
				</div>

				<div class="menu-item-description">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
				</div>

			</div>
			<!-- Item ends -->

			<!-- Item starts -->
			<div class="menu-item">

				<div class="menu-item-name">
					Delicious Dish
				</div>
				
				<div class="menu-item-price">
					$50
				</div>

				<div class="menu-item-description">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
				</div>
				
			</div>
			<!-- Item ends -->

			<!-- Item starts -->
			<div class="menu-item">

				<div class="menu-item-name">
					Delicious Dish
				</div>

				<div class="menu-item-price">
					$30
				</div>

				<div class="menu-item-description">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
				</div>

			</div>
			<!-- Item ends -->

			<!-- Item starts -->
			<div class="menu-item">

				<div class="menu-item-name">
					Delicious Dish
				</div>

				<div class="menu-item-price">
					$30
				</div>

				<div class="menu-item-description">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
				</div>

			</div>
			<!-- Item ends -->
			
		</div>
		<!-- Section ends: Appetizers -->
		
		<!-- Section starts: Drinks -->
		<div class="menu-section">

			<h2 class="menu-section-title">DRINKS</h2>
		
			<!-- Item starts -->
			<div class="menu-item">

				<div class="menu-item-name">
					Tasty Drink
				</div>

				<div class="menu-item-price">
					$30
				</div>

				<div class="menu-item-description">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
				</div>

			</div>
			<!-- Item ends -->

			<!-- Item starts -->
			<div class="menu-item">

				<div class="menu-item-name">
					Tasty Drink
				</div>

				<div class="menu-item-price">
					$30
				</div>

				<div class="menu-item-description">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
				</div>

			</div>
			<!-- Item ends -->

			<!-- Item starts -->
			<div class="menu-item">

				<div class="menu-item-name">
					Tasty Drink
				</div>

				<div class="menu-item-price">
					$30
				</div>

				<div class="menu-item-description">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
				</div>

			</div>
			<!-- Item ends -->

			<!-- Item starts -->
			<div class="menu-item">

				<div class="menu-item-name">
					Tasty Drink
				</div>

				<div class="menu-item-price">
					$30
				</div>

				<div class="menu-item-description">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
				</div>

			</div>
			<!-- Item ends -->
			
		</div>
		<!-- Section ends: Drinks -->
		
	</div>	
