<body>

    <div id="beef">
        <p class="category">Beef Entrees</p>

        <div class="container">
            <div class="row">

                <div class="col-md-6 ">
                    <div *ngFor="let image of beefImages">
                        <img src="{{imageURL + image}}" width="400" height="220">
                        <p></p>
                    </div>
                </div>
                <div class="col-md-6">

                    <div *ngFor="let item of menuObservable | async">
                        <div *ngIf="isBeefEntree(item.Type)" style="padding-bottom:10px">
                            <mat-card class="txtbkg">
                                <li>
                                    <p class="entree-name">{{item.Name}}</p>
                                    <p class="desc-text indent">Price: ${{item.Price}}</p>
                                    <p class="desc-text indent">
                                        {{item.Description}}
                                    </p>
                                    &emsp;&emsp;
                                    <button mat-button class="mx-auto butt-text white color_animation" (click)="both(item.Name)">Add to Cart</button>
                                </li>
                            </mat-card>
                            <p></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div id="chicken">
        <p class="category">Chicken Entrees</p>

        <div class="container">
            <div class="row">

                <div class="col-md-6 ">
                    <div *ngFor="let image of chickenImages">
                        <img src="{{imageURL + image}}" width="400" height="220">
                        <p></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div *ngFor="let item of menuObservable | async">
                        <div *ngIf="isChickenEntree(item.Type)" style="padding-bottom:10px">
                                <mat-card class="txtbkg">
                            <li>
                                <p class="entree-name">{{item.Name}}</p>
                                <p class="desc-text indent">Price: ${{item.Price}}</p>
                                <p class="desc-text indent">
                                    {{item.Description}}
                                </p>
                                &emsp;&emsp;
                                <button mat-button class="butt-text white color_animation" (click)="both(item.Name)">Add to Cart</button>

                            </li>
                        </mat-card>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="fish">
        <p class="category">Fish Entrees</p>

        <div class="container">
            <div class="row">

                <div class="col-md-6 ">
                    <div *ngFor="let image of fishImages">
                        <img src="{{imageURL + image}}" width="400" height="220">
                        <p></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div *ngFor="let item of menuObservable | async">
                        <div *ngIf="isFishEntree(item.Type)" style="padding-bottom:10px">
                                <mat-card class="txtbkg">
                            <li>
                                <p class="entree-name">{{item.Name}}</p>
                                <p class="desc-text indent">Price: ${{item.Price}}</p>
                                <p class="desc-text indent">
                                    {{item.Description}}
                                </p>
                                &emsp;&emsp;
                                <button mat-button class="butt-text white color_animation" (click)="both(item.Name)">Add to Cart</button>

                            </li>
                        </mat-card>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>