
	<div class="menu-body">
		<!-- Section starts: Appetizers -->
		<div class="menu-section">

			<h2 class="menu-section-title">MAIN COURSE</h2>

			<!-- Item starts -->
			<div class="menu-item">
				<div class="menu-item-name">
					Delicious Dish
				</div>

				<div class="menu-item-price">
					$50
				</div>

				<div class="menu-item-description">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
				</div>

			</div>
			<!-- Item ends -->

			<!-- Item starts -->
			<div class="menu-item">

				<div class="menu-item-name">
					Delicious Dish
				</div>

				<div class="menu-item-price">
					$50
				</div>

				<div class="menu-item-description">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
				</div>

			</div>
			<!-- Item ends -->

			<!-- Item starts -->
			<div class="menu-item">

				<div class="menu-item-name">
					Delicious Dish
				</div>

				<div class="menu-item-price">
					$30
				</div>

				<div class="menu-item-description">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
				</div>

			</div>
			<!-- Item ends -->

			<!-- Item starts -->
			<div class="menu-item">

				<div class="menu-item-name">
					Delicious Dish
				</div>

				<div class="menu-item-price">
					$30
				</div>

				<div class="menu-item-description">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
				</div>

			</div>
			<!-- Item ends -->

		</div>
		<!-- Section ends: Appetizers -->

		<!-- Section starts: Drinks -->
		<div class="menu-section">

			<h2 class="menu-section-title">DRINKS</h2>

			<!-- Item starts -->
			<div class="menu-item">

				<div class="menu-item-name">
					Tasty Drink
				</div>

				<div class="menu-item-price">
					$30
				</div>

				<div class="menu-item-description">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
				</div>

			</div>
			<!-- Item ends -->

			<!-- Item starts -->
			<div class="menu-item">

				<div class="menu-item-name">
					Tasty Drink
				</div>

				<div class="menu-item-price">
					$30
				</div>

				<div class="menu-item-description">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
				</div>

			</div>
			<!-- Item ends -->

			<!-- Item starts -->
			<div class="menu-item">

				<div class="menu-item-name">
					Tasty Drink
				</div>

				<div class="menu-item-price">
					$30
				</div>

				<div class="menu-item-description">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
				</div>

			</div>
			<!-- Item ends -->

			<!-- Item starts -->
			<div class="menu-item">

				<div class="menu-item-name">
					Tasty Drink
				</div>

				<div class="menu-item-price">
					$30
				</div>

				<div class="menu-item-description">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
				</div>

			</div>
			<!-- Item ends -->

		</div>
		<!-- Section ends: Drinks -->

	</div>
=======
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="row">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Tech Chefs</a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                <a class="color_animation" style="padding-left: 15em" routerLink="/home" routerLinkActive="active">WELCOME</a>&emsp;&emsp;&emsp;
                <a class="color_animation indent" href="#story">ABOUT</a>&emsp;&emsp;&emsp;

                <a class="color_animation indent" routerLink="/entree" routerLinkActive="active">MENU&ORDER</a>&emsp;&emsp;&emsp;

                <a class="color_animation indent" href="#reservation">RESERVATION</a>&emsp;&emsp;&emsp;

                <a class="color_animation indent" href="#contact">CONTACT</a>&emsp;&emsp;&emsp;
            </div>
        </div>
    </div>
</nav>

<footer class="sub_footer">
		<div class="container">
			<div class="col-md-4">
				<p class="sub-footer-text text-center">&copy; Restaurant 2018, Theme by TechChefs</p>
			</div>
			<div class="col-md-4">
				<p class="sub-footer-text text-center">Back to
					<a href="#top">TOP</a>
				</p>
			</div>
			<div class="col-md-4">
				<p class="sub-footer-text text-center">Built With Care By
					<a href="#" target="_blank">Us</a>
				</p>
			</div>
		</div>
	</footer>
	</body>
</html>
