<html>
<head></head>
  <body>

    <div>
      <mat-form-field>
        <input matInput placeholder="ID" [(ngModel)]="EmpDetails.ID">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Name" [(ngModel)]="EmpDetails.Name">
      </mat-form-field>
    <!--  <mat-form-field>
        <input matInput placeholder="Shift" [(ngModel)]="EmpDetails.Shift_L">
      </mat-form-field>
    -->
      <mat-form-field>
        <input matInput placeholder="Shift_L" [(ngModel)]="EmpDetails.Shift_L">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Wage" [(ngModel)]="EmpDetails.Wage">
      </mat-form-field>
      <button mat-raised-button (click)="addEmployee()" color="primary">Add</button>
    </div>
    <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

     <!-- Position Column -->
     <!--
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
      </ng-container>
    -->
      <!-- ID Column -->
      <ng-container matColumnDef="ID">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.ID}} </mat-cell>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Name}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Shift_L">
        <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Shift_L}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Wage">
        <mat-header-cell *matHeaderCellDef> Wage </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Wage}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>

    </body>
</html>
