<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" [(opened)]="opened">
    <div><button mat-button routerLink="/entrees">ENTREES</button></div>
    <div><button mat-button routerLink="/entrees">APPETIZERS</button></div>
    <div><button mat-button routerLink="/entrees">DESSERTS</button></div>
    <div><button mat-button routerLink="/entrees">DRINKS</button></div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <button mat-button (click)="sidenav.toggle()" class="center">MENU</button>
      <button mat-button (click)="sidenav.toggle()" class="center">CART</button>
      <button mat-button (click)="sidenav.toggle()" class="center">CONTACT</button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
