.currentOrder{
  	table: 43;
  	seats: [1, 2, 3, 4];
  	entrees: ['Steak', 'Steak', 'Chicken', 'Fish'];
  	sides: ['Broccoli', 'Mashed Potatoes', 'Carrots', 'Mac and Cheese'];
  	time: '5:00';
  }
.secondOrder{
  	table: 44;
  	seats: [1, 2, 3, 4];
  	entrees: ['Steak', 'Steak', 'Chicken', 'Fish'];
  	sides: ['Broccoli', 'Mashed Potatoes', 'Carrots', 'Mac and Cheese'];
  	time: '5:00';
}
.thirdOrder{
  	table: 45;
  	seats: [1, 2, 3, 4];
  	entrees: ['Steak', 'Steak', 'Chicken', 'Fish'];
  	sides: ['Broccoli', 'Mashed Potatoes', 'Carrots', 'Mac and Cheese'];
  	time: '5:00';
}