<html lang="en" style="background-Color: black">
<head>
<style>
* {
    box-sizing: border-box;
}
/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
    height: 90%;
    border: 2px solid black;
    border-radius: 5px;
}
.top{

}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
</style>
</head>
<body class="bg-dark">
<button (click)= "logout()" class= "btn-lg btn-primary">Logout</button>
<div class = "container">
<h1 class = "page-header text-white"> Order Queue</h1>
</div>
<div class = "container">
<form (submit)= "searchOrder(tNum.value)" *ngIf=isSearch>
	<label for="search" class="text-white">Search Order: </label>
	<input type="number" class="form-control" placeholder="table number..." #tNum>
</form>
</div>
<div class = "container">
<div class="row">
	<div id = "ticket0" src onerror = 'initTime()' class="column" style="background-color:white" *ngFor="let Orders of ordObservable | async">
		<h3><u>Table: {{Orders.table}}</u></h3>
		<ul class = "list-unstyled">
			<li><h5>Guests:  {{Orders.guests}}</h5></li>
        <ul class= "list-unstyled">
          <li *ngIf = "Orders.items[0]"><h6>Dish: {{Orders.items[0].name}} </h6><mat-checkbox>Complete</mat-checkbox><h6> Amount: {{Orders.items[0].quantity}}</h6></li>
          <li *ngIf = "Orders.items[1]"><h6>Dish: {{Orders.items[1].name}} </h6><mat-checkbox>Complete</mat-checkbox><h6> Amount: {{Orders.items[1].quantity}}</h6></li>
          <li *ngIf = "Orders.items[2]"><h6>Dish: {{Orders.items[2].name}} </h6><mat-checkbox>Complete</mat-checkbox><h6> Amount: {{Orders.items[2].quantity}}</h6></li>
          <li *ngIf = "Orders.items[3]"><h6>Dish: {{Orders.items[3].name}} </h6><mat-checkbox>Complete</mat-checkbox><h6> Amount: {{Orders.items[3].quantity}}</h6></li>
          <li *ngIf = "Orders.items[4]"><h6>Dish: {{Orders.items[4].name}} </h6><mat-checkbox>Complete</mat-checkbox><h6> Amount: {{Orders.items[4].quantity}}</h6></li>
          <li *ngIf = "Orders.items[5]"><h6>Dish: {{Orders.items[5].name}} </h6><mat-checkbox>Complete</mat-checkbox><h6> Amount: {{Orders.items[5].quantity}}</h6></li>
          <li *ngIf = "Orders.items[6]"><h6>Dish: {{Orders.items[6].name}} </h6><mat-checkbox>Complete</mat-checkbox><h6> Amount: {{Orders.items[6].quantity}}</h6></li>
          <li *ngIf = "Orders.items[7]"><h6>Dish: {{Orders.items[7].name}} </h6><mat-checkbox>Complete</mat-checkbox><h6> Amount: {{Orders.items[7].quantity}}</h6></li>
          <li *ngIf = "Orders.items[8]"><h6>Dish: {{Orders.items[8].name}} </h6><mat-checkbox>Complete</mat-checkbox><h6> Amount: {{Orders.items[8].quantity}}</h6></li>
          <li *ngIf = "Orders.items[9]"><h6>Dish: {{Orders.items[9].name}} </h6><mat-checkbox>Complete</mat-checkbox><h6> Amount: {{Orders.items[9].quantity}}</h6></li>
				</ul>
            <li><h5>Time: <span class="clock">{{Orders.timestamp}}</span></h5></li>
            <button id ="delete"(click)= "orderReady(Orders.key, Orders.table)" class ="btn btn-danger">Remove Order</button>
		</ul>
	</div>
</div>
</div>
<div class="container" style="postion:relative; margin-top: 0%;">
	<!-- <button id = "C1" (click) = "clearOrder1()" class ="btn btn-success"> Clear First Order</button>
	<button id ="C2"(click)= "clearOrder2()" class ="btn btn-success">Clear Second Order</button>
	<button id ="C3"(click)= "clearOrder3()" class ="btn btn-success">Clear Third Order</button>
	<button id = "orderRdy"(click)="orderReady()" class ="btn btn-success"> Order Ready</button> -->
	<button id = "viewInv"(click)= "viewInv()" class ="btn btn-warning"> View Inventory</button>
  <button id = "messages"(click)= "toggMessage()" class = "btn btn-primary">Display Messages</button>
  <!-- <button id ="search"(click)= "toggSearch()" class ="btn btn-warning">Search for Order</button> -->

	<!-- <button id ="86"(click)= "editMenu()" class ="btn btn-danger" > Edit Menu</button>
	<button id ="reqMan"(click)= "reqMan()" class ="btn btn-danger"> Request Manager</button> -->
</div>
<hr>
<div *ngIf=isMess>
  <ul class="list-unstyled" style="background-color:white">
    <li>Test Messages</li>
  </ul>
</div>
</body>
</html>
