<div class="bg container">
  <div class="text-block">
    <h1>WELCOME TO TECH CHEFS</h1>
    <h2 class="w3-center">Login</h2>
    <form class="w3-center">
      <mat-form-field>
        <input matInput  placeholder="Username" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" color="white" />
      </mat-form-field>
      <p></p>
      <br/>
      <button mat-raised-button class="w3-center tsize" routerLink="/queue" routerLinkActive="active">Submit</button>
      <p></p>
    <button mat-raised-button class="w3-center tsize" routerLink="/entree" routerLinkActive="active">Guest</button>
    </form>
  </div>
</div>