<head>
  <meta charset="utf-8">
  <title>TechChefs</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-highway.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <style>
    .inline {
      display: inline;
    }

    /*body {
      padding-bottom: 50px;
    }*/
  </style>
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <!--<app-login></app-login>-->
  <app-nav-bar></app-nav-bar>
  <p></p>
  <div class="container">
    <router-outlet> </router-outlet>
  </div>

</body>
