<!-- Display ordered items and post order button -->

<head>
  <link href="https://fonts.googleapis.com/css?family=Chicle|Open+Sans" rel="stylesheet">
</head>


<body class="page">
  <div style="padding-top: 15%" *ngIf="!cart.length">
    <p class="empty">You have no items selected. </p>
    <p class="empty"> Take a look at our menu and make a selection!</p>
    <div class="center">
    <button mat-button routerLink="/dashboard/entrees">Go to Menu</button>
  </div>
  </div>
  <div *ngIf="cart.length">
    <p class="category">Let's Review Your Order</p>
    <mat-card class="card">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr class="header">
              <th>Menu Item</th>
              <th>Price</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cart" class="table_content">
              <div *ngFor="let x of menuObservable|async">
                <div *ngIf="isItem(item,x.Name,x.Price)">
                  <td>{{x.Name}}</td>
                  <td>${{getPrice(x.Price, x.Name)}}</td>
                </div>
              </div>
              <td>
                <button (click)="remove(item)">-</button>
                &nbsp;&nbsp;{{getQuantity(item)}}&nbsp;&nbsp;
                <button (click)="add(item)">+</button>
              </td>
            </tr>
            <td>Total: ${{getTotal()}}</td>
          </tbody>

        </table>
        <div class="table_content nuance">
          <mat-form-field>
            <input matInput class="black" [(ngModel)]="table" placeholder="Table Number" type="number" />
          </mat-form-field>
          <mat-form-field>
            <input matInput class="black" [(ngModel)]="numGuests" placeholder="Number of Guests" type="number" />
          </mat-form-field>
          <button mat-raised-button class="black" *ngIf="isValidInput()" (click)="pushOrder()" routerLink="/dashboard/confirm">Place Order</button>
          <button mat-raised-button class="black" *ngIf="!isValidInput()" disabled style="color:grey">Place Order</button>
        </div>

      </div>
    </mat-card>
  </div>
</body>
<!-- <li *ngFor="let item of cart">
    {{item}}
    <button (click)="add(item)">+</button>
    {{getQuantity(item)}}
    <button (click)="remove(item)">-</button>
  </li>
  <div>
    <input [(ngModel)]="table" placeholder="Table Number" type="number" />
  </div>
  <div>
    <input [(ngModel)]="numGuests" placeholder="Number of Guests" type="number" />
  </div>
  <button *ngIf="isValidInput()" (click)="pushOrder()" routerLink="/confirm">Place Order</button>
  <button *ngIf="!isValidInput()" disabled style="color:grey">Place Order</button>
</div>
<div *ngIf="!cart.length">
  You have no items selected. Take a look at our menu and make a selection!
  <div>
    <button mat-button routerLink="/entrees">Menu</button>
  </div> -->
