// Created by customer team - Mykola, Margaret, Aviv

li{
    list-style-type: none;
}

.indent{
    padding-left: 300px;
}

p.category{
    font-family: 'Chicle', cursive;
    font-size: 40px;
    text-align: center;
    color: black;
}

.header{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

.table_content{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.table{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.nuance{
    padding-left: 15%;
    bottom:10%;
    position: fixed;
}

.page{
    min-height: 600px;
}
.card{
    float: none;
    margin: 10px auto;
    max-width: 80%;
    opacity: 0.75;
}

body{
  background-image: url("../../../assets/images/cartbkg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.white{
    color: white;
}
.black{
    color: black;
}

p.empty{
    font-family: 'Chicle', cursive;
    font-size: 40px;
    text-align: center;
    color: black;
}

.center {
    margin: auto;
    padding-left: 50%;

}

.price{
    padding-left: 25px;
}
