<div class="container">
  <div class="content">
  </div>
  <div class="form">
    <h1 class="w3-center">WELCOME TO TECH CHEFS!</h1>
    <p class="w3-center">Choose a user</p>
    <div class="w3-center">
      <button mat-button color="basic" routerLink="/login" routerLinkActive="active">Guest</button>
      <button mat-button color="basic" routerLink="/login" routerLinkActive="active">Staff</button>
      <button mat-button color="basic" routerLink="/login" routerLinkActive="active">Manager</button>
    </div>
  </div>
</div>
